applications:
    app-of-apps:
        namespace: argocd
        project: default
        finalizers:
            - resources-finalizer.argocd.argoproj.io
        sources:
            - repoURL: {{ app_repo }}
              targetRevision: main
              path: resources
        destination:
            server: https://kubernetes.default.svc
            namespace: apps
        syncPolicy:
            automated:
                prune: true
                selfHeal: true
            syncOptions:
            - CreateNamespace=true